* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url(https://media.tenor.com/2m0CmBz15-IAAAAC/earth-planet.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Navbar */
nav {
    padding: 0;
    margin: 0;
}
.navbar {
    transition: 0.5s;
    background-color: rgb(0, 0, 0);
}
.navbar-scroll2 {
    transition: all 0.7s;
    background-color: rgba(0, 0, 0, 0.8);
}
.navbar-brand img {
    width: 40px; 
    height: 40px;
}


.nav-item {
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    padding: 5px;
}
.nav-item .nav-link {
    color: rgb(255, 255, 255);
}
.nav-item .nav-link:active {
    color: cyan;
}

.nav-item .nav-link:hover {
    color: cyan;
}
    
.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}


#dropdown {
    padding: 4px;
    background-color: rgb(15, 15, 15);
    border:none;
}

#dropdown:hover {
    color: cyan;
}

#dropdown:visited {
    color: cyan;
}

#dropdown:active {
    color: cyan;
}

#dropdown .dropdown-item {
    transition: all 0.3s;
    color: cyan;
}

#dropdown .dropdown-item:hover {

    transition: all 0.5s;
    color: rgba(0, 0, 0, 0.766);
    background-color: cyan;
    border-radius: 5px;
}


#toggler-icon {
    height: 20px;
    width: 20px;
    opacity: 70%;
}

/* Carousel */
.carousel {
    position: relative;
}
.carousel-item img {
    opacity: 1;
}

.back-icon {
    width: 30px; 
    height: 30px;
    background-color: rgb(0, 0, 0);
}
